<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="car.tzxb.b2b">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/start_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/start_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图服务 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5f37UzEOpcGf5gRRa0uUtMP8RwLQcc1v" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Uis.LoginActivity" />
        <activity android:name=".Uis.OpenShopPackage.OpenShopActivity" />
        <activity android:name=".Uis.OpenShopPackage.OpenShopEntranceActivity" />
        <activity android:name=".Uis.OpenShopPackage.OpenShopEntrance2Activity" />
        <activity android:name=".Uis.OpenShopPackage.OpenShopMapActivity" />
        <activity android:name=".Uis.Setting.FindPassWordActivity" />
        <activity android:name=".Uis.GoodsXqPackage.GoodsXqActivity" />
        <activity android:name=".Uis.ClassifyPackage.GoodsClassifyActivity" />
        <activity android:name=".Uis.MeCenter.MyAddressActivity" />
        <activity android:name=".Uis.MeCenter.EditAddressActivity" />
        <activity android:name=".Uis.MeCenter.CollectActivity" />
        <activity android:name=".Uis.GoodsXqPackage.ShoppingCarActivity" />
        <activity android:name=".Uis.Order.OrderActivity" />
        <activity android:name=".Uis.Order.GoodsListActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />
        <activity android:name=".Uis.Order.OrderXqActivity" />
        <activity android:name=".Uis.Order.OrderStatusActivity" />
        <activity android:name=".Uis.MeCenter.SettingsActivity" />
        <activity android:name=".Uis.Order.LogisticsActivity" />
        <activity android:name=".Uis.Vip.VipHomePagerActivity" />
        <activity android:name=".Uis.Vip.VipCenterActivity" />
        <activity android:name=".Uis.MeCenter.MyGoldActivity" />
        <activity android:name=".Uis.MeCenter.BrowhistoryActivity" />
        <activity android:name=".Uis.MeCenter.WithMeActivity" />
        <activity android:name=".Uis.MeCenter.FeedbackActivity" />
        <activity android:name=".Uis.MeCenter.PersonalDataActivity" />
        <activity android:name=".Uis.MeCenter.NickNameActivity" />
        <activity android:name=".Uis.MeCenter.AccountSecurityPackage.AccountSecurityHomePageActivity" />
        <activity android:name=".Uis.MeCenter.AccountSecurityPackage.AccountSecurityYzmActivity" />
        <activity android:name=".Uis.Order.OfflinePaymentActivity"></activity>

        <!--银联支付-->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>